.button {
    position: relative;
    border: transparent;
    font-family: Subtitle;
    background: transparent;
    font-size: 50px;
    padding: 0;
    margin: 0;
    color: rgb(198, 235, 236);
    transition: all 0.4s ease-in-out;
}
.button:hover {
    transform: scale(1.15);
    cursor: pointer;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
    color: aliceblue;
}
