.camera_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: transparent;
}
.camera {
    position: absolute;
    height: 100%; 
    width: 100%;
}
.takenpic_canvas {
    position: fixed;
    visibility: hidden;
}
.snapshot_button {
    top: 4;
    bottom: -1vh !important;
}