* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}
@font-face {
  font-family: power_symbols;
  src: url('./fonts/Unicode_IEC_symbol.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Subtitle;
  src: url('./fonts/Andromeda-eR2n.ttf');
}

@font-face {
  font-family: Sci-fi;
  src: url('./fonts/FarewellProRegular-MVZBB.ttf');

}

@font-face {
  font-family: Outerspace;
  src: url('./fonts/Space-lmX5.ttf');
}

body {
  height: 100%;
  width: 100%;
  font-family: Outerspace;
  overflow: hidden;
  background: rgba(37, 18, 18, 0.986);
  filter: brightness(.8) contrast(1.2);
}
.title {
  position: absolute;
  top: 3vh;
  left: 0;
  right: 0;
  color: rgb(241, 233, 241);
  text-align: center;
  font-family: Sci-fi;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 5px;
  user-select: none;
  animation: glow 1.5s ease-in-out infinite alternate-reverse; 
}

.forms_container {
  position: absolute;
  top: 23vh;
  width: 100%;
  border-style:dotted;
  border-color: rgb(241, 233, 241);
  border-left: transparent;
  border-right: transparent;
  /* box-shadow: 0 0 5px #fff; */
  background: rgba(243, 231, 231, 0.233);
}

@keyframes glow {
  from {
    text-shadow: transparent;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #17416b;
  }
}