.lp_container_menu {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: transparent;
    background: #00010271;
    user-select: none;
    backdrop-filter: blur(3px);
    overflow: hidden;
    min-height: 300px;
    height: 480px;
    width: 450px;
    cursor: grab;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    z-index: 999;
  }
  .lp_container_menu:hover {
    background: #00010288;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
  .lp_container_menu .title_bar {
    position: sticky;
    top: 0px;
    text-align: center;
    border: transparent;
    background: #a9ececb0;
    user-select: none;
    overflow: hidden;
    height: 40px; 
    color: rgb(249, 253, 255);
    font-family: Subtitle;
    font-size: 25px;
    padding-top: 8px;
    width: 100%;
  }
  
.user_info {
    position: absolute;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    height: 180px;
    width: 100%;
    top: 6vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: transparent;
}  
.user_info div {
    margin-top: 10px;
    margin-left: 20px;
}
.lp_image_container {
  position: absolute;
  bottom: 0vh;
  /* border: ridge 2px #00010288; */
  display: flex;
  padding: 3px;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  height: 250px;
  width: 100%; 
}
.lp_image_container .lp_image {
  /* object-fit: contain; */
  height: 100%;
  width: 100%; 
  user-select: none;
  -webkit-user-drag: none;
}  