.forms_container {
  position: absolute;
  top: 23vh;
  width: 100%;
  border-style:dotted;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-color: rgb(202, 194, 202);
  border-left: transparent;
  border-right: transparent;
  overflow-x: auto;
  background: rgb(121, 83, 83);
}
