.forms_container {
  position: absolute;
  top: 23vh;
  width: 100%;
  border-style:dotted;
  border-color: rgb(241, 233, 241);
  border-left: transparent;
  border-right: transparent;
  overflow-x: auto;
  /* box-shadow: 0 0 5px #fff; */
  background: rgba(243, 231, 231, 0.322);
  transform: background 0.4s ease-in-out;
}
